.title {
  color: #02ccba;
}


@charset "utf-8";

.fadeIn{
  animation-name: fadeInAnime;
  animation-direction: 1s;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes fadeInAnime {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}



summary{

  background-color: #e2f0f7;
}

.fadeIn {
animation-name: fadeInAnime;/*1で解説*/
animation-fill-mode:both;/*2で解説*/
animation-duration:4s;/*3で解説*/
/*4で解説*/
animation-timing-function:ease;/*5で解説*/
animation-direction:normal;/*7で解説*/
}
/*1で解説*/
@keyframes fadeInAnime{
  0% {
    opacity: 0;
  }
100% {
    opacity: 1;
  }
